.profile__add-button{
  display: flex;
  width: 150px;
  height: 50px;
  background-color: black;
  background-image: url("../../../images/add-button-vector_m.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border: #FFFFFF solid 1px;
  box-sizing: border-box;
  padding: 0 0;
}


@media screen and (max-width: 762px){
  .profile__add-button{
    background-image: url("../../../images/add-button-vector_s.svg");
    width: 100%;
    max-width: 282px;
  }
}

.profile__add-button:hover{
  opacity: 0.6;
  cursor: pointer;
  transition: 0.3s;
}
